<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Layout</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/layout.css"/>
</head>
<body>
<header class="header section">
    <div class="container">
        <div class="logo">
            <a href="#">Genesis Framework</a>
            <p>Support HTML 5 & Responsive design</p>
        </div>
        <ul class="toplinks">
            <li><a href="#">Sample</a></li>
            <li><a href="#">Layouts</a></li>
            <li><a href="#">Templates</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</header>
<nav class="nav section">
    <div class="container">
        <ul class="menu">
            <li><a href="#">Category #1</a> </li>
            <li><a href="#">Category #2</a> </li>
            <li><a href="#">Category #3</a> </li>
            <li><a href="#">Category #4</a> </li>
            <li class="last"><a href="#">Get Genesis Now!</a> </li>
        </ul>
    </div>
</nav>
<section class="main section">
    <div class="container">
        <article class="content">
            <div class="entry">
                <h1>Sample Post with threaded comments</h1>
                <p>
                    <img src="images/demo.jpg"/>
                </p>
                <p>Nhà Trắng nói ông Biden không xem ông Tập là "bạn cũ", sau khi được Chủ tịch Trung Quốc gọi là "lão bằng hữu của tôi" trong họp thượng đỉnh.
                    Nhà Trắng nói ông Biden không xem ông Tập là "bạn cũ", sau khi được Chủ tịch Trung Quốc gọi là "lão bằng hữu của tôi" trong họp thượng đỉnh.
                    Nhà Trắng nói ông Biden không xem ông Tập là "bạn cũ", sau khi được Chủ tịch Trung Quốc gọi là "lão bằng hữu của tôi" trong họp thượng đỉnh.
                    Nhà Trắng nói ông Biden không xem ông Tập là "bạn cũ", sau khi được Chủ tịch Trung Quốc gọi là "lão bằng hữu của tôi" trong họp thượng đỉnh.
                    "TNhà Trắng Andrew Bates hôm nay nói với phóng
                    viên trên Không lực Một, khi Tổng thống Joe Biden đang trên đường đến bang New Hampshire.

                    Tuyên bố được Bates đưa ra khi các phóng viên hỏi tổng thống nói ông có mối quan hệ lâu dài với Chủ tịch Tập. Họ từng gặp nhau nhiều lần,
                    có thể thảo luận thẳng thắn để làm việc hiệu quả, nhưng Tổng thống không xem Chủ tịch
                    Tập là bạn cũ", phó thư ký báo chí >Chủ tịch Trung Quốc Tập Cận Bình có ý định gì khi gọi Tổng
                    thống Biden là "lão bằng hữu" trong cuộc gặp thượng đỉnh trực tuyến hôm 16/11. Bates từ chối bình luận về
                    "ý định" của ông Tập trong cách gọi đó.</p>
            </div>
        </article>
        <aside class="sidebar">
            <div class="block black">
                <h2>Email Newsletter</h2>
            </div>
            <div class="block">
                <h2>Social icons</h2>
            </div>
            <div class="block">
                <h2>Search website</h2>
            </div>
        </aside>
    </div>
</section>
<footer class="footer section">
    <div class="container">

    </div>
</footer>
</body>
</html>