<div class="container3">
    <div class="container4 col-xs-12">
        <div class="mail">
            <div class="mail-minor col-xs-6">
                <i class="far fa-envelope"></i>
                <div class="mails1">
                    <h3>SIGN UP FOR AURA EMAILS</h3>
                    <p>Plus, hear about the latest and greatest from our family of brands!</p>
                </div>
            </div>
            <div class="submit col-xs-6">
                <form class="form-group">
                    <input class="form-control" type="email" placeholder="Email Adress..." required/>
                    <button class="btn btn-default subscribe" type="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="address col-xs-12">
        <div class="street col-xs-3">
            <div class="tieude">
                <h3><a class="gold" href="/">AURA STORE</a></h3>
                <p><i class="fas fa-street-view"></i> : 179 Johnston St,Fitzroy VIC 3065</p>
                <p> <i class="far fa-envelope"></i> : sayhello@aurawatch.com</p>
                <p><i class="fas fa-phone-volume"></i> : (03) 7003 6943</p>
            </div>
            <div class="logo3">
                <ul class="mainlogo1">
                    <li><a href="#"> <i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="the-end col-xs-9">
            <ul class="sumcolumn">
                <li class="column col-xs-4">
                    <h3>SUPPORT</h3>
                    <ul>
                        <li><a href="/contacts">Contact us</a></li>
                        <li><a href="#">Warranty</a></li>
                        <li><a href="#">Shipping & Returns</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="/contacts">Map</a></li>
                    </ul>
                </li>
                <li class="column col-xs-4">
                    <h3>INFORMATION</h3>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#" onclick="popup(this)">My Account</a></li>
                        <li><a href="#">Payments & Returns</a></li>
                        <li><a href="#">View Catalogues Online</a></li>
                    </ul>
                </li>
                <li class="column col-xs-3">
                    <h3>ABOUT US</h3>
                    <ul>
                        <li><a href="#">Who We Are ?</a></li>
                        <li><a href="#">Corporate Responsibility</a></li>
                        <li><a href="#">Laws</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="license">
        <div class="licenses">
            <p class="all-right">Copyright ©2022. All Rights Reserved.</p>
            <img class="payment" src="paymet.png"/>
        </div>
    </div>
</div>