<div class="container3">
    <div class="container4">
        <div class="mail">
            <div class="mails">
                <i class="far fa-envelope"></i>
                <div class="mails1">
                    <h1>SIGN UP FOR AURA EMAILS</h1>
                    <p>Plus, hear about the latest and greatest from our family of brands!</p>
                </div>
            </div>
            <div class="submit">
                <form class="form">
                    <input type="email" placeholder="Email Adress..." required><button type="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="adress">
        <div class="street">
            <div class="tieude">
                <h1><a class="gold" href="/">AURA Store</a></h1>
                <p><i class="fas fa-street-view"></i> : 179 Johnston St,Fitzroy VIC 3065</p>
                <p> <i class="far fa-envelope"></i> : sayhello@aurawatch.com</p>
                <p><i class="fas fa-phone-volume"></i> : (03) 7003 6943</p>
            </div>
            <div class="logo3">
                <ul class="mainlogo1">
                    <li><a href="#"> <i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="theend">
                <ul class="sumcolumn">
                    <li class="column">
                        <h2>CUSTOMER SERVICE</h2>
                        <ul>
                            <li><a href="/contacts">Contact us</a></li>
                            <li><a href="#">Warranty</a></li>
                            <li><a href="#">Shipping & Returns</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="/contacts">Map</a></li>
                        </ul>
                    </li>
                    <li class="column">
                        <h2>INFORMATION</h2>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#" onclick="popup(this)">My Account</a></li>
                            <li><a href="#">Payments & Returns</a></li>
                            <li><a href="#">View Catalogues Online</a></li>
                        </ul>
                    </li>
                    <li class="column">
                        <h2>ABOUT US</h2>
                        <ul>
                            <li><a href="#">Who We Are ?</a></li>
                            <li><a href="#">Corporate Responsibility</a></li>
                            <li><a href="#">Laws</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
    </div>

    <div class="license">
        <div class="licenses">
        <p class="all-right">Copyright ©2022. All Rights Reserved.</p>
            <img class="payment" src="paymet.png">
        </div>
    </div>
</div>