<div class="container3">
    <div class="container4">
        <div class="mail">
            <div class="mails">
                <i class="far fa-envelope"></i>
                <div class="mails1">
                    <h1>SIGN UP FOR AURA EMAILS</h1>
                    <p>Plus, hear about the latest and greatest from our family of brands!</p>
                </div>
            </div>
            <div class="submit">
                <form class="form">
                    <input type="email" placeholder="Email Adress..." required><button type="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="adress">
        <div class="street">
            <div class="tieude">
                <h1><span class="gold">AURA Store</span></h1>
                <p><i class="fas fa-street-view"></i> : 179 Johnston St,Fitzroy VIC 3065</p>
                <p> <i class="far fa-envelope"></i> : sayhello@aurawatch.com</p>
                <p><i class="fas fa-phone-volume"></i> : (03) 7003 6943</p>
            </div>
            <div class="logo3">
                <ul class="mainlogo1">
                    <li><a href="#"> <i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>