
<div class="logo">
    <div class="logo1">
        <a href="/"><img src="imge/new documents created.png"></a>
    </div>
    <div class="logo2">
        <ul class="mainlogo">
            <li><a href="/">Home</a></li>
            <li class="see" onmouseenter="openmenu(this)" onmouseleave="closemenu(this)"><a href="/shop?AllProduct">Shop</a>
                <div class="see1">
                    <ul>
                        <li><a href="/shop-style?style">Shop-Style</a></li>
                        <li><a href="/shop-color?color">Shop-Color</a></li>
                        <li><a href="/shop-size?size">Shop-Size</a></li>
                        <li><a href="/shop-material?material">Shop-Material</a></li>
                        <li><a href="/shop-sale?sale=">Shop-Sale</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/service">Service</a>
            </li>
            <li>
                <form action="/shop" method="get">
                    <input type="text" name="AllProduct" placeholder=" Search"/>
                    <button type="submit">Search</button>
                </form>

            </li>

        </ul>
    </div>
    <div class="logo3">
        <ul class="mainlogo1">
            <li><a href="/contacts">CONTACTS</a></li>
            <li><a onclick="popup()">USER</a></li>
            <li class="giohang"><a onclick="showcart()"><i class="fa fa-shopping-cart" ><span id="countsp" class="img-circle">0</span></i></a></li>
        </ul>
    </div>
</div>
<div id="bg-cart" onclick="hidecart()" class="bg-fade"></div>

<div class="show_cart" id="show_cart">
    <div class="closesp1">
        <a onclick="hidecart()">&#10005</a>
    </div>
    <div class="showcart" id="showcart">

    </div>
    <div class="thanhtoan">
        <a href="/"><button class="add-to-cart_gh col-xs-3">PROCEED TO CHECKOUT</button></a>
        <a href="/cart"><button class="add-to-cart_gh col-xs-3">VIEW CART</button></a>
    </div>
</div>
<div id="bg-fade" onclick="closePop()" class="bg-fade"></div>
<div id="popup" class="popup">
    <a class="closePop" onclick="closePop()">&#10005</a>
    <div class="sign">
        <button id="color" type="button" onclick="login()">LOGIN</button>
        <button id="color1" type="button" onclick="REGISTER()">REGISTER</button>
    </div>
    <div class="login" id="login">
        <form action="/contacts" method="get">
            <input type="email" name="email" placeholder="Email*" required>
            <input type="password" placeholder="PassWord*" required>
            <a href="#">Forgot password?</a>
            <label><input class="checkbox" type="checkbox" required> Remember me</label>
            <button type="submit">LOGIN</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    function popup(){
        document.getElementById("popup").style.display = "block";
        document.getElementById("bg-fade").style.display = "block";
    }
    function closePop(){
        document.getElementById("popup").style.display = "none";
        document.getElementById("bg-fade").style.display = "none";
    }
    function REGISTER(){
        document.getElementById("color1").style.background="black";
        document.getElementById("color1").style.color ="white";
        document.getElementById("color").style.background="white";
        document.getElementById("color").style.color="black";
        document.getElementById("login").innerHTML=
            "<form action=\"/acc\" method=\"get\">"+
        "<input type=\"email\" placeholder=\"Email*\" required>" +
        "<input type=\"text\" placeholder=\"User Name*\" required>"+
        "<input type=\"password\" placeholder=\"PassWord*\" required>" +
        "<input type=\"password\" placeholder=\"ResPassWord*\" required>" +
        "<label><input class=\"checkbox\" type='checkbox' required> I agree the my submitted data is being collected and stored. For further detail on handling user data, see out Privacy Policy.</label>" +
            "<button type='submit'>Sign Up</button" +
            "</form>"
            ;
    }
    function login() {
        document.getElementById("color").style.background="black";
        document.getElementById("color").style.color ="white";
        document.getElementById("color1").style.background="white";
        document.getElementById("color1").style.color="black";
        document.getElementById("login").innerHTML=
            "<form action=\"/acc\" method=\"get\">"+
            "<input type=\"email\" placeholder=\"Email*\" required>" +
            "<input type=\"password\" placeholder=\"PassWord*\" required>" +
            "<a href=\"#\">Forgot password?</a>" +
            "<label><input class=\"checkbox\" type=\"checkbox\" required> Remember me</label>" +
            "<button type='submit'>LOGIN</button>" +
            "</form>"
    }
    function openmenu(e){
        e.classList.add("active")
    }
    function closemenu(e){
        e.classList.remove("active");
    }
    function hidecart(){
        document.getElementById("show_cart").style.display = "none";
        document.getElementById("bg-cart").style.display = "none";
    }
    function showcart(){
        document.getElementById("show_cart").style.display = "block";
        document.getElementById("bg-cart").style.display = "block";
    }


    function cong(){
        var t = document.getElementById("textbox").value;
        document.getElementById("textbox").value = parseInt(t) + 1;
    }


    function tru(){
        var t = document.getElementById("textbox").value;
        if (parseInt(t)>1){
            document.getElementById("textbox").value = parseInt(t)-1;
        }
    }
    var gh = localStorage.getItem("giohang");
    var giohang_header = JSON.parse(gh);
    function shomycart_header(){
        var ttgh = "";
        var total = 0;
        var tt = 0;
        for (let i=0;i<giohang_header.length;i++){
            if(giohang_header[i][6] == ""){
                tt = parseInt(giohang_header[i][5]) * parseInt(giohang_header[i][7]);
            }else {
                tt = (parseInt(giohang_header[i][5])-parseInt(giohang_header[i][5])*parseInt(giohang_header[i][6])/100) * parseInt(giohang_header[i][7]);
            }
            total+=tt;
            ttgh+= "<div class=\"hinhanh1\">\n" +
                "        <img src=\""+giohang_header[i][0]+"\" width=\"20px\" height=\"20px\" alt=\"\">\n" +
                "    </div>\n" +
                "    <div class=\"thongtin1\">\n" +
                "        <h5>"+giohang_header[i][1]+"</h5>\n" +
                "        <p>"+giohang_header[i][2]+"</p>\n" +
                "        <h4><span>$</span>"+ tt +"</h4>\n" +
                "        <input class=\"minus is-form\" type=\"button\" onclick=\"tru()\" value=\"-\">\n" +
                "        <input aria-label=\"quantity\" class=\"input-qty\" max=\"10\" min=\"1\" name=\"\" type=\"number\" value=\""+ giohang_header[i][7] +"\" id=\"textbox\">\n" +
                "        <input class=\"plus is-form\" onclick=\"cong()\" type=\"button\" value=\"+\">\n" +
                "    </div>";
        }
        ttgh += "<div class=\"total\">\n" +
            "        <h4>Total : $"+ total +"</h4>\n" +
            "    </div>";
        document.getElementById("showcart").innerHTML = ttgh;
    }
    function showcountsp() {
        document.getElementById("countsp").innerHTML = giohang_header.length;
    }
    shomycart_header();
    showcountsp();


</script>