
<div class="logo">
    <div class="logo1">
        <a href="/"><img src="imge/new documents created.png"></a>
    </div>
    <div class="logo2">
        <ul class="mainlogo">
            <li><a href="/">Home</a></li>
            <li class="see" onmouseenter="openmenu(this)" onmouseleave="closemenu(this)"><a href="/shop?AllProduct">Shop</a>
                <div class="see1">
                    <ul>
                    <li class="pic">
                        <h1>Model</h1>
                        <div class="watch">
                            <div class="anh">
                                <img src="https://cdn.shopify.com/s/files/1/0184/1161/8368/products/168149_500x.jpg?v=1644526097">
                            </div>
                            <div class="buy">
                                <p>Ten</p>
                                <button type="button"><a href="#">BUY NOW</a></button>
                            </div>
                        </div>
                    </li>
                    <li class="pic">
                        <h1>Classic</h1>
                        <div class="watch">
                            <div class="anh">
                                <img src="imge/product1-1.jpg">
                            </div>
                            <div class="buy">
                                <p>Ten</p>
                                <button type="button"><a href="#">BUY NOW</a></button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="model">
                            <ul>
                                <li class="model1"><h1><a href="#">Model</a></h1>
                                    <ul>
                                        <li><a href="#">Ten SP....</a></li>
                                        <li><a href="#">Ten SP....</a></li>
                                        <li><a href="#">Ten SP....</a></li>
                                        <li><a href="#">Ten SP....</a></li>
                                    </ul>
                                </li>
                                <li class="model1"><h1><a href="#">Classic</a></h1>
                                    <ul>
                                        <li><a href="#">Ten SP....</a></li>
                                        <li><a href="#">Ten SP....</a></li>
                                        <li><a href="#">Ten SP....</a></li>
                                        <li><a href="#">Ten SP....</a></li>
                                    </ul>
                                </li>
                                <li class="model1"><h1><a href="#">Sale</a></h1>
                                    <ul>
                                        <li><a href="#">Ten SP....</a></li>
                                        <li><a href="#">Ten SP....</a></li>
                                        <li><a href="#">Ten SP....</a></li>
                                        <li><a href="#">Ten SP....</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
                </div>
            </li>
            <li>
                <form action="/shop" method="get">
                    <input type="text" name="AllProduct" placeholder="Search"/>
                    <button type="submit">Search</button>
                </form>

            </li>
        </ul>
    </div>
    <div class="logo3">
        <ul class="mainlogo1">
            <li><a href="/contacts">CONTACTS</a></li>
            <li><a href="#" onclick="popup()">USER</a></li>
        </ul>
    </div>
</div>
<div id="bg-fade" onclick="closePop()" class="bg-fade"></div>
<div id="popup" class="popup">
    <a class="closePop" href="#" onclick="closePop()">X</a>
    <div class="sign">
        <button id="color" type="button" onclick="login()">LOGIN</button>
        <button id="color1" type="button" onclick="REGISTER()">REGISTER</button>
    </div>
    <div class="login" id="login">
        <form action="/contacts" method="get">
            <input type="email" placeholder="Email*" required>
            <input type="password" placeholder="PassWord*" required>
            <a href="#">Forgot password?</a>
            <label><input class="checkbox" type="checkbox" required> Remember me</label>
            <button type="submit">LOGIN</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    function popup(){
        document.getElementById("popup").style.display = "block";
        document.getElementById("bg-fade").style.display = "block";
    }
    function closePop(){
        document.getElementById("popup").style.display = "none";
        document.getElementById("bg-fade").style.display = "none";
    }
    function REGISTER(){
        document.getElementById("color1").style.background="#e54148";
        document.getElementById("color").style.background="#f2f2f2";
        document.getElementById("login").innerHTML=
            "<form action=\"/acc\" method=\"get\">"+
        "<input type=\"email\" placeholder=\"Email*\" required>" +
        "<input type=\"text\" placeholder=\"User Name*\" required>"+
        "<input type=\"password\" placeholder=\"PassWord*\" required>" +
        "<input type=\"password\" placeholder=\"ResPassWord*\" required>" +
        "<label><input class=\"checkbox\" type='checkbox' required> I agree the my submitted data is being collected and stored. For further detail on handling user data, see out Privacy Policy.</label>" +
            "<button type='submit'>Sign Up</button" +
            "</form>"
            ;
    }
    function login() {
        document.getElementById("color").style.background="#e54148";
        document.getElementById("color1").style.background="#f2f2f2";
        document.getElementById("login").innerHTML=
            "<form action=\"/acc\" method=\"get\">"+
            "<input type=\"email\" placeholder=\"Email*\" required>" +
            "<input type=\"password\" placeholder=\"PassWord*\" required>" +
            "<a href=\"#\">Forgot password?</a>" +
            "<label><input class=\"checkbox\" type=\"checkbox\" required> Remember me</label>" +
            "<button type='submit'>LOGIN</button>" +
            "</form>"
    }
    function openmenu(e){
        e.classList.add("active")
    }
    function closemenu(e){
        e.classList.remove("active");
    }
</script>