<div class="logo">
    <div class="logo1">
        <a href="/"><img src="new documents created.png"></a>
    </div>
    <div class="logo2">
        <ul class="mainlogo">
            <li><a href="/">Home</a></li>
            <li><a href="#">Shop</a>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </li>
            <li>
                <form action="#" method="get">
                    <input type="text" name="TenSP" placeholder="Search"/>
                    <button type="submit">Search</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="logo3">
        <ul class="mainlogo1">
            <li><a href="#"> <i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fas fa-envelope"></i></a></li>
        </ul>
    </div>
</div>