<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/homecss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,300,700|Caveat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Courgette&family=Shizuru&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ea42f3d974.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="header section">
    <%- include("header.ejs") %>
</header>
<section class="main section">
    <article>
        <div class="container">
            <div class="conten">
                <img src="specification-banner.jpg">
            </div>
            <div class="conten2">
                <a href="#">đồng hồ xịn xò</a>
            </div>
            <div class="conten3">
                <img src="blog11.jpg">
                <div class="conten31">
                    <h1>Romance in the air</h1>
                    <p>WEAR YOUR STYLE WITH VERVE & ATTITUDE</p>
                    <button type="button"><a href="#">DETAILS</a></button>

                </div>
            </div>
            <div class="conten4">
                <img src="blog12.jpg">
                <div class="conten41">
                    <h1>Analog & Digital</h1>
                    <p>SMART WATCHES LATEST FASHION STATEMENT</p>
                    <button type="button"><a href="#">DETAILS</a></button>
                </div>
            </div>

        </div>
    </article>
    <aside>
        <div class="container">

        </div>
    </aside>
</section>
<footer class="footer section">

</footer>
</body>
<script type="text/javascript">

</script>
</html>