<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/homecss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,300,700|Caveat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Courgette&family=Shizuru&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ea42f3d974.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="header section">
    <%- include("header.ejs") %>
</header>
<section class="main section">
    <article>
        <div class="container">
            <div class="conten" id="image">
                <button class="click1" type="button" onclick="next()" >></button>
                <button class="click2" type="button" onclick="next()"><</button>
                <img src="specification-banner.jpg">

            <div class="conten2">
                <a href="#">đồng hồ xịn xò</a>
            </div>
            </div>
            <div class="conten3">
                <img src="blog11.jpg">
                <div class="conten31">
                    <h1>Romance in the air</h1>
                    <p>WEAR YOUR STYLE WITH VERVE & ATTITUDE</p>
                    <button type="button"><a href="#">DETAILS</a></button>
                </div>
            </div>
            <div class="conten4">
                <img src="blog12.jpg">
                <div class="conten41">
                    <h1>Analog & Digital</h1>
                    <p>SMART WATCHES LATEST FASHION STATEMENT</p>
                    <button type="button"><a href="#">DETAILS</a></button>
                </div>
            </div>
            <div class="conten5">
                <div class="tieude">
                <h1><span class="gold">The AURA</span> <span>Watches</span></h1>
                </div>
                <div class="conten51">
                <p>The AURA Watches We Sell Are Original And Vendor Certified For A Peerless Performance!</p>
                <p>uis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, uis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.uis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget</p>
            </div>
            </div>
        </div>
    </article>
    <aside>
        <div class="container1">
            <div class="shop">
                <div class="tieude">
                <h1><span class="gold">FEATURED </span><span >PRODUCTS</span></h1>
                </div>
                    <div class="watch">
                <div class="anh">
                <img src="a1.jpg">
                </div>
                <div class="buy">
                    <p>Ten</p>
                    <button type="button"><a href="#">DETAILS</a></button>
                </div>
            </div>
                <div class="watch">
                    <div class="anh">
                        <img src="a1.jpg">
                    </div>
                    <div class="buy">
                        <p>Ten</p>
                        <button type="button"><a href="#">DETAILS</a></button>
                    </div>
                </div>
                <div class="watch">
                    <div class="anh">
                        <img src="a1.jpg">
                    </div>
                    <div class="buy">
                        <p>Ten</p>
                        <button type="button"><a href="#">DETAILS</a></button>
                    </div>
                </div>
                <div class="watch">
                    <div class="anh">
                        <img src="a1.jpg">
                    </div>
                    <div class="buy">
                        <p>Ten</p>
                        <button type="button"><a href="#">DETAILS</a></button>
                    </div>
                </div>
                <div class="watch">
                    <div class="anh">
                        <img src="a1.jpg">
                    </div>
                    <div class="buy">
                        <p>Ten</p>
                        <button type="button"><a href="#">DETAILS</a></button>
                    </div>
                </div>
                <div class="watch">
                    <div class="anh">
                        <img src="a1.jpg">
                    </div>
                    <div class="buy">
                        <p>Ten</p>
                        <button type="button"><a href="#">DETAILS</a></button>
                    </div>
                </div>

            </div>
            <div class="countdown">
                <div class="tieude">
                <h1><span class="gold">SUPER </span><span >SALE</span></h1>
                </div>
                <div class="countdowns">
                <h2><span id="day">00 Day</span>-<span id="hour">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span> </h2>
                </div>
                <div class="sale">
                    <img src="swarovski-crystalline.jpg">
                    <p> sale off 3%</p>
                    <button type="button"><a href="#">DETAILS</a></button>
                </div>
                <div class="sale">
                    <img src="swarovski-crystalline.jpg">
                    <p> sale off 3%</p>
                    <button type="button"><a href="#">DETAILS</a></button>
                </div>
                <div class="sale">
                    <img src="swarovski-crystalline.jpg">
                    <p> sale off 3%</p>
                    <button type="button"><a href="#">DETAILS</a></button>
                </div>

            </div>
        </div>
    </aside>
</section>
<footer class="footer section">

</footer>
</body>
<script type="text/javascript">
    var index=0;
 var next=function (){
    document.getElementById("image").innerHTML="<button class=\"click1\" type=\"button\" onclick=\"back()\">></button>" +
        "<button class=\"click2\" type=\"button\" onclick=\"backs()\"><</button> " +
        "<img src=\"slider2-bg.jpg\">\n"+
        "  <div class=\"conten2\">\n"+
       "  <a href=\"#\">ahihi</a>\n"+
" </div>";
 }
 var back=function (){
     document.getElementById("image").innerHTML="<button class=\"click1\" type=\"button\" onclick=\"backs()\">></button>" +
         "<button class=\"click2\" type=\"button\" onclick=\"next()\"><</button> " +
         "<img src=\"slider1-bg.jpg\">\n"+
         "  <div class=\"conten2\">\n"+
         "  <a href=\"#\">hahaha</a>\n"+
         " </div>";
 }
    var backs=function (){
        document.getElementById("image").innerHTML="<button class=\"click1\" type=\"button\" onclick=\"next()\">></button>" +
            "<button class=\"click2\" type=\"button\" onclick=\"back()\"><</button> " +
            "<img src=\"specification-banner.jpg\">\n"+
            "  <div class=\"conten2\">\n"+
            "  <a href=\"#\">đồng hồ xịn xò</a>\n"+
            " </div>";
    }
    setInterval(next,3000);
    setInterval(back,6000);
    setInterval(backs,9000);
    function TimerCountdown(){
        var min=0,sec=0, hou=2, day=2;
        if(hou > 0){
            var span_day = document.getElementById("day");
            var span_hour = document.getElementById("hour");
            var span_min = document.getElementById("minutes");
            var span_sec = document.getElementById("seconds");
            var timer = setInterval(function (){
                var d_txt = day<10?("0"+day):day;
                var h_txt = hou<10?("0"+hou):hou;
                var m_txt = min<10?("0"+min):min;
                var sec_txt = sec<10?"0"+sec:sec;
                span_day.innerText = d_txt+"Day";
                span_hour.innerText = h_txt;
                span_min.innerText = m_txt;
                span_sec.innerText = sec_txt;
                sec--;
                if(sec<0){
                    sec=59;
                    min--;
                }
                if(min<0){
                    hou--;
                    min=59;
                }if(hou<0){
                    day--;
                    hou=24;
                }
            },1000);
        }
    }
    setTimeout(TimerCountdown);
</script>
</html>