<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head.ejs") %>
</head>
<body>
<header class="header section">
    <%- include("header.ejs") %>
</header>
<section class="main section">
    <article>
        <div class="container">
            <div class="conten" id="image">
                <button class="click1" type="button" onclick="next()" >></button>
                <button class="click2" type="button" onclick="next()"><</button>
                <img src="imge/slider3.jpg">
            <div class="conten2">
                <div class="tieude">
                <h1><span class="gold">AURA </span><span >WATCH</span></h1>
                    <h3>The Classics</h3>
                    <p>Complete your everyday look with a classic leather strap watch</p>
                    <button type="button"><a href="#">BUY NOW</a></button>
                </div>
            </div>
            </div>
            <div class="conten3">
                <img src="imge/blog7.jpg">
                <div class="conten31">
                    <h1>Romance in the air</h1>
                    <p>WEAR YOUR STYLE WITH VERVE & ATTITUDE</p>
                    <button type="button"><a href="#">BUY NOW</a></button>
                </div>
            </div>
            <div class="conten4">
                <img src="imge/blog12.jpg">
                <div class="conten41">
                    <h1>Analog & Digital</h1>
                    <p>SMART WATCHES LATEST FASHION STATEMENT</p>
                    <button type="button"><a href="#">BUY NOW</a></button>
                </div>
            </div>
            <div class="conten5">
                <div class="tieude">
                <h1><span class="gold">The AURA</span> <span>Watches</span></h1>
                </div>
                <div class="conten51">
                <p>The AURA Watches We Sell Are Original And Vendor Certified For A Peerless Performance!</p>
                <p>uis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, uis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.uis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget</p>
                    <h3><span>Authorized Representative:</span><br/><span class="red"> The Aura</span></h3>

            </div>
            </div>
        </div>
    </article>
    <aside>
        <div class="container1">
            <div class="ship1">
                <div class="services">
                    <div class="tieude">
                        <h1><span class="gold">Our</span> <span>services</span></h1>
                    </div>
                    <ul>
                        <li>
                            <div class="pay">
                            <i class="fas fa-shipping-fast"></i>
                            <h2>Free ship</h2>
                            </div>
                        </li>
                        <li>
                            <div class="pay">
                            <i class="far fa-credit-card"></i>
                            <h2>Pay Card</h2>
                            </div>
                        </li>
                        <li>
                            <div class="pay">
                            <i class="fas fa-headset"></i>
                            <h2>Hotline 24/7</h2>
                            </div>
                        </li>
                        <li>
                            <div class="pay">
                            <i class="fas fa-tools"></i>
                            <h2>Warranty: 2 Year International</h2>
                            </div>
                        </li>
                        <li>
                            <div class="pay">
                            <i class="fas fa-gift"></i>
                            <h2>Free Gift Boxes</h2>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ship">
                <div class="number1">
                    <h1>01. Sapphire Crystal</h1>
                    <p>Known for obtaining a remarkable hardness (nearly as hard as a diamond). Has a high scratch resistance which makes it a perfect material for wristwatches.</p>
                </div>
                <div class="number2">
                    <h1>02. Swiss Ronda Movement</h1>
                    <p>Run by the vibration of a quartz crystal (32,786 times per second) under current to keep possibly accurate time.</p>
                </div>
                <div class="shipping">
                    <img src="imge/blog2.jpg">
                </div>
                <div class="number3">
                    <h1>03. 316L Stainless Steel</h1>
                    <p>The watch case is made of extra low carbon steel that is often used in surgical instruments and marine appliances thanks to its high corrosion resistance.</p>
                </div>
                <div class="number4">
                    <h1>04. Italian Leather Straps</h1>
                    <p>The band is made of high-grade Italian eco-leather with a soft nubuck lining for extra comfort. Obtains excellent wearing qualities.</p>
                </div>
            </div>
            </div>
            <div class="shop">
                <div class="tieude">
                <h1><span class="gold">FEATURED </span><span >PRODUCTS</span></h1>
                </div>
                <div id="next">
                <div class="watch">
                    <div class="anh">
                        <img src="imge/product1-1.jpg">
                </div>
                    <div class="buy">
                    <p>Aura Glitter Crystal Watch 168149</p>
                    <button type="button"><a href="/sp?NameProduct=Aura Glitter Crystal Watch 168149">DETAILS</a></button>

                </div>
                    </div>
                <div class="watch">
                    <div class="anh">
                        <img src="imge/product2-1.jpg">
                    </div>
                    <div class="buy">
                        <p>Ten-2</p>
                        <button type="button"><a href="#">DETAILS</a></button>
                    </div>
                </div>
                <div class="watch">
                    <div class="anh">
                        <img src="imge/product3-1.jpg">
                    </div>
                    <div class="buy">
                        <p>Ten-3</p>
                        <button type="button"><a href="#">DETAILS</a></button>
                    </div>
                </div>
            </div>
                <div id="clicknext">
                <button class="clicknext" type="button" onclick="backproduct()"><<</button>
                <button class="clicknext" type="button" onclick="nextproduct()">>></button>
                </div>
            </div>
            <div class="countdown">
                <div class="countdown1">
                <div class="tieude">
                <h1><span class="gold">SUPER </span><span >SALE</span></h1>
                </div>
                <div class="countdowns">
                <h2><span id="day">00 Day</span>-<span id="hour">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span> </h2>
                </div>
                <div class="sale" id="sale">
                    <img src="imge/product14-1.jpg">
                    <p> sale off 3%</p>
                    <button class="clicksale1" type="button" onclick="clicksale1()"><</button>
                    <button class="clicksale2" type="button" onclick="clicksale()">></button>
                    <button class="deal" type="button"><a href="#">BUY NOW</a></button>
                </div>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="shopnow">
                <div class="picture">
                    <img src="imge/back.jpg">
                    <div class="buynow">
                        <p>NEED A CLOSER LOOK? COME VISIT US IN STORE</p>
                        <h1>YOUR SPECIALIST WATCH STORE</h1>
                        <button  type="button"><a href="#">STORE LOCATOR</a></button>
                    </div>
                </div>

            </div>
        </div>
    </aside>
</section>
<footer class="footer section">
    <%- include("footer.ejs") %>
</footer>
</body>
<script type="text/javascript">
    // next silder conten//
 var next=function (){
    document.getElementById("image").innerHTML="<button class=\"click1\" type=\"button\" onclick=\"back()\">></button>" +
        "<button class=\"click2\" type=\"button\" onclick=\"backs()\"><</button> " +
        "<img src=\"imge/slider2.jpg\">\n"+
        "  <div class=\"conten2\">\n"+

        "  <div class=\"tieude\">"+
        "    <h1><span class=\"gold\">AURA </span><span >WATCH</span></h1>"+
        "    <h3>Best Luxurious</h3>"+
        "    <p>Aura watches give you classy luxury. Show your worth as a person.</p>"+
        "       <button type=\"button\"><a href=\"#\">BUY NOW</a></button>"+
        "    </div>"+

        " </div>";

 }
 var back=function (){
     document.getElementById("image").innerHTML="<button class=\"click1\" type=\"button\" onclick=\"backs()\">></button>" +
         "<button class=\"click2\" type=\"button\" onclick=\"next()\"><</button> " +
         "<img src=\"imge/slider12.jpg\">\n"+
         "  <div class=\"conten2\">\n"+

         "  <div class=\"tieude\">"+
         "    <h1><span class=\"gold\">AURA </span><span >WATCH</span></h1>"+
         "    <h3>New Arivals</h3>"+
         "    <p>Experience new and modern fashion style</p>"+
         "       <button type=\"button\"><a href=\"#\">BUY NOW</a></button>"+
         "    </div>"+

         " </div>";
 }
    var backs=function (){
        document.getElementById("image").innerHTML="<button class=\"click1\" type=\"button\" onclick=\"next()\">></button>" +
            "<button class=\"click2\" type=\"button\" onclick=\"back()\"><</button> " +
            "<img src=\"imge/slider3.jpg\">\n"+
            "  <div class=\"conten2\">\n"+

            "  <div class=\"tieude\">"+
            "    <h1><span class=\"gold\">AURA </span><span >WATCH</span></h1>"+
            "    <h3>The Classics</h3>"+
            "    <p>Complete your everyday look with a classic leather strap watch</p>"+
            "       <button type=\"button\"><a href=\"#\">BUY NOW</a></button>"+
            "    </div>"+

            " </div>";

    }
    // next product//
    var nextproduct=function (){
        document.getElementById("clicknext").innerHTML=
            "<button class=\"clicknext\" type=\"button\" onclick=\"backproduct()\"><<</button>"+
            "<button class=\"clicknext\" type=\"button\" onclick=\"backproduct()\">>></button>";

        document.getElementById("next").innerHTML=
        "    <div class=\"watch\">"+
        "        <div class=\"anh\">"+
        "            <img src=\"imge/product1-2-768x768.jpg\">"+
        "        </div>"+
        "     <div class=\"buy\">"+
        "         <p>Ten-4</p>"+
        "         <button type=\"button\"><a href=\"#\">DETAILS</a></button>"+
        "     </div>"+
        " </div>"+
        "<div class=\"watch\">"+
        "    <div class=\"anh\">"+
        "        <img src=\"imge/product14-1.jpg\">"+
        "    </div>"+
        "   <div class=\"buy\">"+
        "        <p>Ten-5</p>"+
        "        <button type=\"button\"><a href=\"#\">DETAILS</a></button>"+
        "    </div>"+
        "</div>"+
        "<div class=\"watch\">"+
        "    <div class=\"anh\">"+
        "        <img src=\"imge/product16-1.jpg\">"+
        "    </div>"+
        "    <div class=\"buy\">"+
        "        <p>Ten-6</p>"+
        "        <button type=\"button\"><a href=\"#\">DETAILS</a></button>"+
        "    </div>"+
        "</div>";

    }
    var backproduct=function (){
        document.getElementById("clicknext").innerHTML=
            "<button class=\"clicknext\" type=\"button\" onclick=\"nextproduct()\"><<</button>"+
            "<button class=\"clicknext\" type=\"button\" onclick=\"nextproduct()\">>></button>";

        document.getElementById("next").innerHTML=
            "    <div class=\"watch\">"+
            "        <div class=\"anh\">"+
            "            <img src=\"imge/product1-1.jpg\">"+
            "        </div>"+
            "     <div class=\"buy\">"+
            "         <p>Aura Glitter Crystal Watch 168149</p>"+
            "         <button type=\"button\"><a href=\"/sp?NameProduct=Aura Glitter Crystal Watch 168149\">DETAILS</a></button>"+
            "     </div>"+
            " </div>"+
            "<div class=\"watch\">"+
            "    <div class=\"anh\">"+
            "        <img src=\"imge/product2-1.jpg\">"+
            "    </div>"+
            "   <div class=\"buy\">"+
            "        <p>Ten-2</p>"+
            "        <button type=\"button\"><a href=\"#\">DETAILS</a></button>"+
            "    </div>"+
            "</div>"+
            "<div class=\"watch\">"+
            "    <div class=\"anh\">"+
            "        <img src=\"imge/product3-1.jpg\">"+
            "    </div>"+
            "    <div class=\"buy\">"+
            "        <p>Ten-3</p>"+
            "        <button type=\"button\"><a href=\"#\">DETAILS</a></button>"+
            "    </div>"+
            "</div>";


    }
   // setInterval(next,2000);
    //setInterval(back,4000);
    //setInterval(backs,6000);

    // SuperSale//
    function TimerCountdown(){
        var min=0,sec=0, hou=2, day=2;
        if(hou > 0){
            var span_day = document.getElementById("day");
            var span_hour = document.getElementById("hour");
            var span_min = document.getElementById("minutes");
            var span_sec = document.getElementById("seconds");
            var timer = setInterval(function (){
                var d_txt = day<10?("0"+day):day;
                var h_txt = hou<10?("0"+hou):hou;
                var m_txt = min<10?("0"+min):min;
                var sec_txt = sec<10?"0"+sec:sec;
                span_day.innerText = d_txt+"Day";
                span_hour.innerText = h_txt;
                span_min.innerText = m_txt;
                span_sec.innerText = sec_txt;
                sec--;
                if(sec<0){
                    sec=59;
                    min--;
                }
                if(min<0){
                    hou--;
                    min=59;
                }if(hou<0){
                    day--;
                    hou=24;
                }
            },1000);
        }
    }
    setTimeout(TimerCountdown);

    var clicksale =function () {
        document.getElementById("sale").innerHTML=
            "<img src=\"imge/product11-1.jpg\">" +
            "<p>sale off 5%</p>" +
            "<button class=\"clicksale1\" type=\"button\" onclick=\"clicksale2()\"><</button>" +
            "<button class=\"clicksale2\" type=\"button\" onclick=\"clicksale1()\">></button>" +
            "<button class=\"deal\" type=\"button\"><a href=\"#\">BUY NOW</a></button>"
    }
    var clicksale1 =function () {
        document.getElementById("sale").innerHTML=
            "<img src=\"imge/product3-1.jpg\">" +
            "<p>sale off 8%</p>" +
            "<button class=\"clicksale1\" type=\"button\" onclick=\"clicksale()\"><</button>" +
            "<button class=\"clicksale2\" type=\"button\" onclick=\"clicksale2()\">></button>" +
            "<button class=\"deal\" type=\"button\"><a href=\"#\">BUY NOW</a></button>"
    }
    var clicksale2 =function () {
        document.getElementById("sale").innerHTML=
            "<img src=\"imge/product14-1.jpg\">" +
            "<p> sale off 3%</p>" +
            "<button class=\"clicksale1\" type=\"button\" onclick=\"clicksale1()\"><</button>" +
            "<button class=\"clicksale2\" type=\"button\" onclick=\"clicksale()\">></button>" +
            "<button class=\"deal\" type=\"button\"><a href=\"#\">BUY NOW</a></button>"
    }


</script>
</html>