<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/homecss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,300,700|Caveat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Courgette&family=Shizuru&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ea42f3d974.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="header section">
        <div class="logo">
            <div class="logo1">
                <a href="#"><img src="horizontal_on_white_by_logaster.png"></a>
            </div>
            <div class="logo2">
                <ul class="mainlogo">
                    <li>Home</li>
                    <li>Shop</li>
                    <li>Shop</li>
                    <li>Shop</li>
                </ul>
            </div>
                <div class="logo3">
                    <ul class="mainlogo1">
                        <li><a href="#"> <i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                </div>
        </div>
</header>
<section class="main section">
<div class="container">
    <div class="conten">
<img src="specification-banner.jpg">
    </div>
    <div class="conten2">
        <a href="#">đồng hồ xịn xò</a>
    </div>
</div>
</section>
<footer class="footer section">

</footer>
</body>
</html>