<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shop - The Aura</title>
    <%- include("head.ejs") %>
</head>
<body>
<header>
    <%- include("header.ejs") %>
</header>
<section class="section-service">
<div class="container6">
<div class="img-service">
    <img src="imge/bao-hanh-dong-ho111.jpg">
</div>
    <div class="home-service">
        <h1 class="colorservice">Service</h1>
        <p class="colorservice"><a href="/">Home </a>/<span> Service</span></p>
    </div>
</div>
    <article class="out-service">
        <div class="service-call">
            <div class="callholine">
                <h1>Number 1: Call our hotline </h1>
                <p>When you need warranty and maintenance of Aura watch products, you need to first contact our hotline for detailed information about product defects or instructions on product warranty and maintenance steps.</p>
            </div>
            <div class="callimg">
                <img src="imge/dich-vu-call.webp">
            </div>
        </div>
        <div class="service-receive">
            <div class="receiveimg">
        <img src="imge/5.jpg">
            </div>
            <div class="receive">
                <h1>Number 2: Receive goods and check products</h1>
                <p>After knowing your needs. We will proceed to receive your product and inspect the product and take a retention photo to keep to confirm with you via email.</p>
            </div>
        </div>
        <div class="service-fix">
            <div class="fiximg">
                <img src="imge/thay-pin-dong-ho-citizen.jpg">
            </div>
            <div class="fix">
                <h1>Number 3: Fix errors in product maintenance</h1>
                <p>We will check for defects and perform the fastest repair and maintenance for your product.
                    Make sure your watch runs correctly.</p>
            </div>
        </div>
        <div class="service-send">
            <div class="send-img">
                <img src="imge/nhanhang.png">
            </div>
            <div class="send">
                <h1>Number 4: Check and send the product</h1>
                <p>We will check the product one last time. When all is well we will resend the product to you</p>
            </div>
        </div>

    </article>
</section>
<footer>
    <%- include("footer.ejs") %>
</footer>
</body>
</html>