
/* title* img */
.container5{
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 30px;
    color: white;
    background-color: rgb(255, 255, 255);
}

.container5 .home-contacts{
    position: absolute;
    top: 160px;
    left: 40%;
}
.contacts img{

    width: 100%;
    height: 410px;
}
.container5 .colorcontacts{
    color: white;
    font-size: 40px;
}
.container5 p{
    color: #0f0f0f;
}
.container5 h1{
    color: #9a8b0a;
}

.home-contacts a{
    font-size: 50px;
}
.home-contacts p{
    font-size: 25px;
}

/* addrees-phone*/
.container5 .infor{
    width: 1400px;
    height: 200px;
    margin: 50px auto;
}
.infor .infor1{
    width: 22%;
    height: 150px;
    float: left;
    background-color: rgba(212, 205, 205, 0.35);
    margin-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 40px;
    text-align: center;

}
.infor .infor1:hover{
    transform: scale(1.05);
    transition: 900ms;
}
.infor .infor1 p:hover{
    transition: 900ms;
    color: red;
    font-size: 27px;
    font-weight: 700;
}
/* form drop*/
.Drop{
    width: 1400px;
    margin: 0 auto;
    height: 700px;
    background-color: #d0cbcb;
    padding-left: 30px;
    background-image: url(../imge/ddh.jpg);
    background-size: cover;
    padding-bottom: 30px;
    text-align: center;

}
.Drop h1{
    font-size: 40px;
}
.Drop button{
    width: 200px;
    height: 50px;
}
.Drop .checkbox{
    width: 20px;
    height: 20px;
    margin-top: 30px;
}
.Drop label{
    color: rgb(255, 255, 255);
}
.Drop-form{
    width: 600px;
    padding-top: 30px ;
    margin: 0 auto;
    float: right;
    margin-right: 100px;
}
.Drop textarea{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 10px;
   font-size: 18px;
    font-family: "Roboto", sans-serif;

}
.Drop input{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
    padding-left: 20px;
}

/* Map*/
.container5 .map{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

}
.container5 .maps{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.maps h1{
    font-size: 50px;
}