
/* title* img */
.container5{
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 30px;
    color: white;
    background-color: rgb(255, 255, 255);
}

.container5 .home-contacts{
    position: absolute;
    top: 200px;
    left: 44%;
}
.contacts img{
    width: 100%;
}
.container5 .colorcontacts{
    color: white;
    font-size: 40px;
}
.container5 p{
    color: #0f0f0f;
}
.container5 h1{
    color: #9a8b0a;
}

.home-contacts a{
    font-size: 50px;
}
.home-contacts p{
    font-size: 25px;
}

/* addrees-phone*/
.container5 .infor{
    width: 1400px;
    height: 200px;
    margin: 50px auto;
}
.infor .infor1{
    width: 22%;
    height: 150px;
    float: left;
    background-color: rgba(212, 205, 205, 0.35);
    margin-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 40px;
    text-align: center;
}
/* form drop*/
.Drop{
    width: 1400px;
    margin: 0 auto;
    height: 700px;
    background-color: #d0cbcb;
    padding-left: 30px;
    text-align: center;
}
.Drop button{
    width: 200px;
    height: 50px;
}
.Drop .checkbox{
    width: 20px;
    height: 20px;
}
.Drop label{
    color: #0f0f0f;
}
.Drop-form{
    width: 600px;
    padding-top: 30px ;
    margin: 0 auto;
}
.Drop textarea{
    width: 582px;
    height: 300px;

}
.Drop input{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 48%;
}

/* Map*/
.container5 .map{
    width: 1400px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
.container5 .maps{
    width: 100%;
    text-align: center;
    padding-top: 30px;
}