*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Smooch Sans', sans-serif;
    margin: 0 auto;
}
img{
    max-width: 100%;
    max-height: 100%;
}
a{
    list-style: none;
    text-decoration: none;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
    color: white;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.section{
    margin: 0 auto;
    padding: 0;
    width: 100%;

}
.container3{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(227, 220, 220);
    float: left;

}
.container3 p{
    font-size: 30px;
    font-weight: 200;
    font-family: 'Smooch Sans', sans-serif;
    color: #0c0c0c;
    line-height: 40px;
}
.container4{
    width: 100%;
    height: 145px;
    background-color: #ece5e5;
    padding-top: 25px;
    border-bottom: 1px solid #ded7c9;
}
.container3 .mail{
    width: 1400px;
    margin: 0 auto;
}
.mail .mails{
    width: 900px;
    float: left;
}
.mails p{
    color: black;
    font-size: 25px;
}
.mails .far{
    float: left;
    width: 100px;
    height: 80px;
    font-size: 50px;
    padding-top: 12px;
    padding-left: 20px;
    border-right: 1px solid black;
    margin-top: 10px;
}
.mails .mails1{
    width: 800px;
    float: left;

    padding-top: 20px;
    padding-left: 30px;
}
.form{
    float: right;
    padding-top: 20px;
    width: 400px;

}
.form button{
    color: #a80505;
    width: 100px;
    height: 50px;
    font-size: 16px;
}
form input{
    width: 300px;
    height: 50px;
    font-size: 17px;

}
.container3 .adress{
    width: 1400px;
    margin: 0 auto;
    height: 300px ;

}
.adress .street{
    width: 350px;
    float: left;
    padding-top: 10px;
}

.street .gold{
    color: #927e09;
    font-size: 45px;
}
.street .tieude p{
    font-size: 25px;
    color: black;
}
.street .tieude{
    font-size: 25px;
}
.street .logo3 a{
    color: black;
    font-size: 30px;
}
.street .logo3{
    float: left;
}
.theend{
    width: 1050px;
    float: left;
    padding-top: 60px;
}
.theend li{
    list-style: none;
}
.theend a{
    color: #0c0c0c;
    font-size: 23px;
}
.theend a:hover{
    color: #af9909;
    transition: 500ms;
}
.column{
    width: 32%;
    float: left;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.license{
    width: 100%;
    background-color: #e0d8d8;
    border-top: 1px solid #9a9292;
    padding-top: 20px;
}
.license .licenses{
    width: 1400px;
    margin: 0 auto;
    height: 60px;
}
.licenses .all-right{
    float: left;
    font-size: 25px;
}
.licenses .payment{
    float: right;
}