*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Smooch Sans', sans-serif;
    margin: 0 auto;
}
img{
    max-width: 100%;
    max-height: 100%;
}
a{
    list-style: none;
    text-decoration: none;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
    color: white;
}
p{
    font-size: 30px;
    font-weight: 200;
    font-family: 'Smooch Sans', sans-serif;
    color: #ffffff;
    line-height: 40px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.section{
    margin: 0 auto;
    padding: 0;
    width: 100%;

}
.container3{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color: rgb(238, 231, 231);
    float: left;

}
.container4{
    width: 100%;
    height: 145px;
    border-bottom: 1px solid white;
    background-color: white;
    padding-top: 25px;
}
.container3 .mail{
    width: 1400px;
    margin: 0 auto;
}
.mail .mails{
    width: 900px;
    float: left;
}
.mails p{
    color: black;
    font-size: 25px;
}
.mails .far{
    float: left;
    width: 100px;
    height: 80px;
    font-size: 50px;
    padding-top: 12px;
    padding-left: 20px;
    border-right: 1px solid black;
    margin-top: 10px;
}
.mails .mails1{
    width: 800px;
    float: left;

    padding-top: 20px;
    padding-left: 30px;
}
.form{
    float: right;
    padding-top: 20px;
    width: 400px;

}
.form button{
    color: #a80505;
    width: 100px;
    height: 50px;
    font-size: 16px;
}
form input{
    width: 300px;
    height: 50px;
    font-size: 17px;

}
.container3 .adress{
    width: 1400px;
    margin: 0 auto;
}
.adress .street{
    width: 350px;
    float: left;
}

.tieude .gold{
    color: #927e09;
}
.street .tieude p{
    font-size: 25px;
    color: black;
}
.street .tieude{
    font-size: 25px;
}
.street .logo3 a{
    color: black;
    font-size: 30px;
}
.street .logo3{
    float: left;
}
