
.container_cart{
    float: none;
    width: 100%;
    margin: 0 auto;
    background-color: #c2bfbf;
    color: black;
    padding: 80px;
}
.entry{
    font-size: 45px;
    text-align: center;
    color: black;
}
.entry a{
    font-size: 30px;
    color: black;
    text-align: center;

}
.logo_cart{
    font-size: 30px;
    color: black;
    text-align: center;
}
.container_cart1{
    float: left;
    width: 100%;

    background-color: white;
}
.content_cart{
    float:left;
    width: 60.67%;
    background-color: white;
}

.sidebar_cart{
    float: left;
    width: 39.33%;
    padding-left: 25px;
    background-color: white;
    margin-top: 85px;
}
.entry h2{
    font-size: 35px;
    text-align: left;
    padding-left: 220px;
    padding-top: 100px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}
.sp{
    float: none;
    width: 75%;
    margin-left: 220px;
    background-color: white;
    border: gainsboro solid 1px;
    margin-bottom: 20px;
}
.showmycart{
    float: none;
    width: auto;
    background-color: white;
    margin-left: 220px;
}
.thongtin{
    padding: 0 15px;
    margin-top: -315px;
    margin-left: 260px;
    margin-bottom: 25px;
}
.thongtin h3{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.thongtin h4{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.thongtin p{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: black;
    margin: 5px;
}
.img{
    margin-bottom: 100px;
    border: #d0ac65 solid 2px;
    background-color: white;
    height: 200px;
    padding-top: 20px;
}
.thongtin input{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 10px -3px;
}
.total h4{
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 10px;
}
.dongy {
    font-size: 20px;
    width: auto;
    background-image: linear-gradient(#226303, #226303);
    padding: 12px;
    border-radius: 5px;
    color: #bd935d;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}
.shopping {
    font-size: 20px;
    width: auto;
    background-image: linear-gradient(#226303, #226303);
    padding: 10px;
    border-radius: 5px;
    color: #bd935d;
    font-weight: bold;
    margin: 20px 220px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}
.view_cart {
    font-size: 12px;
    width: 300px;
    background-image: linear-gradient(#226303, #226303);
    padding: 10px;
    border-radius: 5px;
    color: #bd935d;
    font-weight: bold;
    margin: 8px 15px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    /*position: absolute;*/
    /*bottom: 20px;*/
}
.proceed_checkout{
    font-size: 12px;
    width: 300px;
    background-image: linear-gradient(#226303, #226303);
    padding: 10px;
    border-radius: 5px;
    color: #bd935d;
    font-weight: bold;
    margin: 8px 15px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    /*position: absolute;*/
    /*bottom: 80px;*/
}
.add-to-cart_gh{
    width:300px;
    height: 40px;
    border:1px solid #9f7a49;
    color:#9f7a49;
    font-weight: bold;
    text-align:center;
    line-height:2;
    margin:8px 15px;
    font-size:14px;
    cursor: pointer;
}
.add-to-cart_gh:hover{
    background-color: #9f7a49;
    color:white;
    transition:all 600ms;
}
.add-to-cart_cart{
    width:200px;
    height: 40px;
    border:1px solid #9f7a49;
    color:#9f7a49;
    font-weight: bold;
    text-align:center;
    line-height:2;
    margin:8px 220px;
    font-size:14px;
    cursor: pointer;
}
.add-to-cart_cart:hover{
    background-color: #9f7a49;
    color:white;
    transition:all 600ms;
}
.closesp{
    position: relative;
    font-size: 28px;
    bottom: 300px;
    background-color: #e7d8d8;
    width: 30px;
    height: 30px;
}
.closesp1{
    position: fixed;
    font-size: 28px;
    top: 0;
    right: 350px;
    background-color: #e7d8d8;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.closesp1 a{
    font-size: 20px;
    color: #cc9f9f;
    margin: 6px;
}
.closesp a{
    font-size: 20px;
    color: #cc9f9f;
    margin: 6px;
}
.block h2{
    font-size: 35px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}

.show_cart{
    width: 350px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    padding: 10px;
    z-index: 10;
    display: none;
    height: 100%;
    overflow-x:hidden;
    overflow-y:auto;
}
.hinhanh1{
    width: 120px;
    height: 120px;
    padding-top: 50px;
    padding-right: 25px;
}
.thongtin1{
    font-size: 18px;
    padding-left: 120px;
    margin-top: -100px;
    padding-bottom: 5px;
}
.thongtin1 h5{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
}
.thongtin1 p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.thongtin1 h4{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.thongtin1 input{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.giohang span{
    font-weight: bold;
    font-size: 10px;
    color: white;
    margin: 5px;
    border: white solid 2px;
    border-radius: 45px;
    padding: 4px 5px;
}
.fa-shopping-cart{
    cursor: pointer;
}

p .btn-default{
    font-size: 22px;
}
.form_cart{
    width: 100%;
    margin-left: 16px;
}
.form_cart input{
    margin-bottom: 20px;
    border: 1px solid #9f7a49;
    margin-top: 8px;
}
.form_cart button{
    margin-bottom: 20px;
    margin-left: 0;
    border: 1px solid #9f7a49;
    font-size: 18px;
    font-weight: 300;

}
.form_cart span{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}
.input_from{
    width: 400px;
    height: 45px;
}
.row{
    padding-left: 0;
}
/*thong tin nhan hang*/
.agree tr td {
    text-align: left;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 0;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
.agree input{
    width: 350px;
    font-weight: 300;
    height: 35px;
    font-size: 18px;
}
.container_cart_order{

}
.content_cart_order{
    margin: 0 auto;
    width: 1200px;
    background-color: white;
}
.thongtinnhanhang tr td {
    text-align: left;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 0;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
td {
    border: 1px #CCC solid;
    text-align: center;
    font-size: 16px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

tr th {
    background-color: #d3d1d1;
    padding: 10px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    border: 1px #8d8c8c solid;
}
.mycart th{
    background-color: white;
    border: 1px #8d8c8c solid;
}
.mycart th{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;

}
.big-image{

}
.main-img{
    margin: 5px 40px;

}
.img-slide{
    margin-left: 10px;
    cursor: pointer;
}
.img-slide img{
    margin: 5px 1px;
    border: 1px solid #b2b0b0;
}
.thanhtoan-order{
    margin-left: -220px;

}
.thanhtoan-order button{
    font-size: 20px;
    width: auto;
    padding: 15px;
    text-align: center;
    line-height: 0.6;
}
.thank-you h2 {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0;
}


/*tang giam so luong*/
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:45px;
    width:45px;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
    font-size:25px;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.box {
    border-radius:4px 0 0 4px;
    height: 40px;
    width: auto;
    padding: 0 5px;
    text-align: center;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:45px;
    width: 45px;
    text-align:center;
    font-size:20px;
    display:inline-block;
    vertical-align:top;
    margin:0 -5px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
