*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Smooch Sans', sans-serif;
    margin: 0 auto;
}
img{
    max-width: 100%;
    max-height: 100%;
}
a{
    list-style: none;
    text-decoration: none;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
    color: white;
}
p{
    font-size: 25px;
    font-weight: 200;
    font-family: 'Smooch Sans', sans-serif;
    color: #262222;
    line-height: 40px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.section{
    margin: 0 auto;
    padding: 0;
    width: 100%;

}
header{
    background-color: rgb(5, 5, 5);
    border-bottom: 1px solid #504303;

}
header img{
    width: 135px;
    height: 92px;
}
.logo{
    margin: 0 auto;
    height: 110px;
    width: 1400px;
    padding: 10px;
}
.logo a{
    font-size: 30px;
}
.logo1{
    float: left;
}
.logo2 li{ /* logo*/
    float: left;
    padding-left: 50px;
    list-style: none;
    padding-top: 30px;

}
.logo2 input{ /* tim kiem*/
    width: 300px;
    height: 30px;
    border-radius: 7px;
}
.logo2 button{
    width: 70px;
    height: 30px;
}
.mainlogo .see{
    position: relative;
}
.mainlogo .see img{
    width: 100%;
    height: 100%;
}
.see .see1{
    float: left;
    width: 1400px;
    height: 500px;
    display: none;
    left: -250px;
    position: absolute;
    z-index: 10;
    background-color: #e8e6e6;

}
.see .see1 .pic{
    width: 25%;
    text-align: center;
}
.see1 .pic h1{
    padding-bottom: 15px;
}
.see.active .see1{
    display: block;
}
.see1 .pic .watch{
    margin-left: 10px;
}
.see1 .model a{
    color: black;
    font-size: 22px;
}
.see1 .model h1 a{
    font-size: 30px;
}
.see1 .model{
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    float: left;
    margin-top: 18px;
    text-align: center;
}
.see1 .model .model1{
    width: 600px;
    float: left;
}
.see1 .model .model1  a:hover{
    transition: 500ms;
    color: #bbad17;
}
.see1 .model .model1 h1{
    padding-right: 50px;
}
.see .watch{
    width: 250px;
    height: 350px;
    float: left;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Smooch Sans', sans-serif;
}
.see .anh img{
    height: 250px;
    overflow: hidden;
}
.see .watch:hover{
    transform: scale(1.05);
    transition: 1000ms;
    background-color: rgba(203, 201, 201, 0.35);
    border: 0.5px solid #9c9a9a;
    box-shadow: 3px 3px 5px #aaaaaa ;
    font-size: 30px;
}
.see .buy{
    padding-top: 5px;

}
.see .buy p{
    color: black;
    font-weight: 600;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 30px;
}
.see .buy a{
    font-size: 20px;
    color: black;
    font-family: 'Smooch Sans', sans-serif;
}
.see .buy p:hover{
    transition: 600ms;
    color: #a89c05;
    font-weight: 800;
    font-size: 35px;
}
.see .buy button{
    background-color: white;
    border: 0.5px solid rgba(255, 255, 255, 0);
    width: 90px;
    height: 25px;
    transition: 600ms;
}
.see .buy button:hover{
    font-weight: 600;
    background-color: #a89c05;
}
/* bieu tuong fb*/
.logo .logo3{
    float: right;
}
.logo3 li{
    float: left;
    padding-left: 20px ;
    padding-top: 35px ;
    list-style: none;
}
.logo .logo3 li a{
    font-size: 18px;
}
/* sign in*/
.popup{
    display: none;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 0 5px #aaaaaa;
    width: 500px;
    position: fixed;
    top:50%;
    left: 50%;
    z-index: 12;
    margin-top: -240px;
    margin-left: -250px;
}
.popup a{
    color: red;
}
.popup .sign button{
    width: 48%;
    margin-top: 30px;
    padding: 10px;
    margin-left: 5px;
}
.popup .login{
    width: 70%;
    margin: 30px auto;
}
.popup .login input{
    width: 90%;
    margin-bottom: 10px;
    margin-right: 10px;
}
.popup .login .checkbox{
    width: 20px;
    height: 20px;
}
.popup .login button{
    width: 150px;
    padding: 10px;
}
.bg-fade{
    display: none;
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    opacity: 0.6;
}
.closePop{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    color: black;
}
