*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Smooch Sans', sans-serif;
    margin: 0 auto;
}
img{
    max-width: 100%;
    max-height: 100%;
}
a{
    list-style: none;
    text-decoration: none;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
    color: white;
}
p{
    font-size: 25px;
    font-weight: 200;
    font-family: 'Smooch Sans', sans-serif;
    color: rgb(52, 45, 45);
    line-height: 40px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.section{
    margin: 0 auto;
    padding: 0;
    width: 100%;

}
header{
    background-image: linear-gradient(#050505, #0e0c00);
    border-bottom: 1px solid #504303;

}
header img{
    width: 135px;
    height: 92px;
}
.logo{
    margin: 0 auto;
    height: 110px;
    width: 1400px;
    padding: 10px;
}
.logo a{
    font-size: 30px;
}
.logo1{
    float: left;
}
.logo2 li{ /* logo*/
    float: left;
    padding-left: 50px;
    list-style: none;
    padding-top: 30px;

}
.logo2 input{ /* tim kiem*/
    width: 300px;
    height: 30px;
    border-radius: 7px;
}
.logo2 button{
    width: 70px;
    height: 30px;
}
.mainlogo .see{
    position: relative;
}

.mainlogo li a:hover{
    color: #927e09;
}
.see .see1{
    float: left;
    width: 180px;
    display: none;
    position: absolute;
    z-index: 10;
    left: -10px;
    background-color: #0c0c0c;
    padding-bottom: 20px;
}
.see.active .see1{
    display: block;
}
.see .see1 li a{
    font-size: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f1e407;
}
.see li a:hover{
    color: #927e09;
}





/* bieu tuong fb*/
.logo .logo3{
    float: right;
}
.logo3 li{
    float: left;
    padding-left: 20px ;
    padding-top: 35px ;
    list-style: none;
}
.logo .logo3 li a{
    font-size: 18px;
}
.logo .logo3 li a:hover{
    color: #927e09;
}
/* sign in*/
.popup{
    display: none;
    background-color: rgb(220, 245, 237);
    box-shadow: 0 0 5px #aaaaaa;
    width: 500px;
    position: fixed;
    top:50%;
    left: 50%;
    z-index: 12;
    margin-top: -240px;
    margin-left: -250px;
    border-radius: 20px;
}
.popup a{
    color: red;
}
.popup .sign{
    width: 100%;
    height: 120px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    border-radius: 10px;
    background: #0a6974;
}
.popup .sign button{
    width: 48%;
    margin-top: 30px;
    padding: 10px;
    font-size: 25px;
    color: white;
    margin-left: 5px;
    background: black;
    border-radius: 5px;

}
.popup .login{
    width: 70%;
    margin: 30px auto;
}
.popup .login input{
    width: 90%;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding-left: 5px;
}
.popup .login .checkbox{
    width: 20px;
    height: 20px;
}
.popup .login button{
    width: 150px;
    padding: 10px;
}
.bg-fade{
    display: none;
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    opacity: 0.6;
}
.closePop{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    color: black;
}
.id_an {
    color: white;
}
