*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Smooch Sans', sans-serif;
    margin: 0 auto;
}
a{
    list-style: none;
    text-decoration: none;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
    color: white;
}
p{
    font-size: 25px;
    font-weight: 200;
    font-family: 'Smooch Sans', sans-serif;
    color: #ffffff;
    line-height: 40px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.section{
    margin: 0 auto;
    padding: 0;
    width: 100%;

}
/* header*/

/* main section*/
section{
    margin: 0 auto;
    width: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 30px;
    color: white;
    background-color: rgb(255, 255, 255);
    float: left;
}
.container img{
    width: 100%;
    height: 670px;
}
.conten img{
    width: 100%;
    height: 40%;
}
.conten{
    width: 100%;
    position: relative;
}
.container .conten2{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 10%;
    top: 20%;
    text-align: center;
    padding: 30px;

}
/* click next anh*/
.conten button{
    width: 30px;
    height: 40px;
    color: rgba(255, 255, 255, 0.84);
    font-size: 30px;
    border: 1px solid rgba(255, 255, 255, 0.02);
    background-color: rgb(255, 255, 255);
}
.container button:hover{
    transform: scale(1.21);
    transition: 500ms;
    color: #b3a408;
}
.conten .click1{
    position: absolute;
    right: 5px;
    top: 50%;
    background-color: rgba(255, 255, 255, 0);
}
.conten .click2{
    position: absolute;
    left: 5px;
    top: 50%;
    background-color: rgba(52, 45, 45, 0.02);
}
.conten2 .tieude{
    width: 400px;
    height: 300px;
    color: white;
}
.conten2 button{
    width: 100px;
    height: 40px;
    background-color: rgba(168, 158, 158, 0.33);
    padding-bottom: 5px;
}
.conten2 .tieude h1{
    font-size: 80px;
    color: white;
}
.conten3{
    position: relative;
    width: 50%;
    float: left;
    overflow: hidden;
    height: 500px;
    padding: 20px 20px 10px 30px;
    margin-bottom: 20px;

}
.conten3 img:hover{
    transform: scale(1.22);
    transition: 3000ms;
}
.conten3 .conten31{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 300px;
}
.conten3 a{
    color: #2d2626;
    font-weight: 600;
}
.container h1{
    font-size: 45px;
}
.conten4{
    position: relative;
    width: 50%;
    float: right;
    overflow: hidden;
    height: 500px;
    padding: 20px 30px 10px 20px;
    margin-bottom: 20px;

}
.conten4 img:hover{
    transform: scale(1.22);
    transition: 3000ms;
    transform-style: preserve-3d;
}
.conten4 .conten41{
    width: 300px;
    position: absolute;
    left: 100px;
    top: 100px;

}
.conten4 a{
    color: #2d2626;
    font-weight: 600;
}
.conten5{
    width: 100%;
    float: left;
    text-align: center;
    background-color: rgb(241, 239, 239);
    padding-top: 50px;
    margin: 0 auto;
}
.conten5 .tieude{
    color: white;
}
.conten51{
    width: 800px;
    height: 450px;
    margin: 0 auto;
    line-height: 50px;
    border: 1px solid #dbb6b6;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;

}
.conten5 h1{
    font-size: 60px;
    font-weight: 600;
    color: black;
}
.conten51 h3{
    float: right;
    font-size: 39px;
    color: black;
}
.conten51 p{
    color: black;
}
.conten51 .red{
    color: red;
}
.tieude{
    font-size: 50px;
    font-weight: 700;
    color: #0f0f0f;

}
.tieude .gold{
    color: #927e09;
}
/* Our services*/
.container1{
    width: 100%;
    margin: 0 auto;
    float: left;
    background-color: rgb(255, 255, 255);
    text-align: center;

}
.container1 .ship1{
    width: 100%;
    background-color: white;
    padding-bottom: 50px;
    padding-top: 30px;
}
.ship1 .tieude{
    padding-bottom: 50px;
}
.services{
    width: 1400px;
    margin: 0 auto;
    height: 250px;
    padding-bottom: 50px;
    padding-left: 50px;

}
.services li{
    list-style: none;
}
.services .pay{
    color: #b3a408;
    margin-right: 20px ;
    list-style: none;
    font-size: 18px;
    width: 18%;
    padding: 15px;
    height: 110px;
    float: left;
    text-align: center;
    border: 1px solid #c1bdbd;

}
.services .pay:hover{
    transform: scale(1.14);
    transition: 600ms;
}
.ship h1{
    font-size: 40px;
    color: #362c2c;
}
.ship p{
    color: #322929;
}
.container1 .ship{
    width: 1400px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(250, 246, 246);
}
.shipping{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 490px;
}
.shipping img:hover{
    transform: scale(1.14);
    transition: 3000ms;
}
.number1{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 20px;
    top: 20px;
    color: #0f0f0f;

}
.number2{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.number3{
    width: 500px;
    height: 200px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.number4{
    width: 500px;
    height: 200px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
/* featured product*/
.shop{
    width: 1400px;
    height: 620px;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #ffffff;
    background: #f5eeee;
}

.shop .watch{
    width: 350px;
    height: 420px;
    float: left;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 20px 50px 40px 62px;
    font-family: 'Smooch Sans', sans-serif;
}

.shop .anh img{
    height: 320px;
    overflow: hidden;
    width: 100%;
}
.shop .watch:hover{
    transform: scale(1.05);
    transition: 1000ms;
    background-color: rgba(156, 154, 154, 0.35);
    border: 0.5px solid #9c9a9a;
    box-shadow: 3px 3px 5px #aaaaaa ;
    font-size: 30px;
}
.shop .buy{
    padding-top: 5px;

}
.shop .buy p{
    color: black;
    font-weight: 600;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 30px;
}
.shop .buy a{
    font-size: 20px;
    color: black;
    font-family: 'Smooch Sans', sans-serif;
}
.shop .buy p:hover{
    transition: 600ms;
    color: #a89c05;
    font-weight: 800;
    font-size: 35px;
}
.shop .buy button{
    background-color: white;
    border: 0.5px solid rgba(255, 255, 255, 0);
    width: 90px;
    height: 25px;
    transition: 600ms;
}
.shop .buy button:hover{
    font-weight: 600;
    background-color: #a89c05;
}
.shop .clicknext{
    width: 40px;
    height: 30px;
    font-size: 25px;
    margin-left: 10px;
}
.shop .clicknext:hover{
    background: black;
    color: white;
}
/* Super Sale*/
.countdown{
    width: 100%;
    height: 800px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    padding-top: 50px;
    margin: 0 auto;
}
.countdown .countdown1{
    width:1400px ;
    height: 700px;
    margin: 0 auto;
    background-color: rgb(246, 239, 239);
    padding-top: 30px;
}
.countdown .countdowns{
    width: 400px;
    height: 400px;
    background-color: #ff535f;
    padding: 100px 0 0 0;
    font-size: 60px;
    color: rgb(255, 255, 255);
    border-radius: 200px;
    float: left;
    margin-top: 80px;
    margin-left: 150px;

}
.sale{
    width: 400px;
    height: 510px;
    background-color: rgb(255, 255, 255);
    float: left;
    overflow: hidden;
    line-height: 40px;
    margin-left: 150px;
    position: relative;
    border: 1px solid #f8efef;;
    margin-top: 30px;


}
.sale p{
    color: #ffffff;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #e54148;

}
.sale a{
    font-size: 40px;
    color: #0c0c0c;

}
.sale img{
    height: 400px;
}
.sale img:hover{
    transform: scale(1.15);
    transition: 1000ms;

}
.sale .deal{
    background-color: rgba(193, 171, 171, 0.01);
    border: 1px solid rgba(255, 0, 0, 0);
    width: 150px;
    height: 50px;
    margin-top: 20px;
    bottom: 10px;
    right: 40%;

}
.sale a:hover{
    transform: scale(1.09);
    transition: 500ms;
    color: #e71c2c;
}
.clicksale1{
    color: black;
    font-size: 30px;
    width: 30px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    left: 1px;
    top: 200px;
    border: rgba(246, 244, 241, 0);
}
.clicksale2{
    color: black;
    font-size: 30px;
    width: 30px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    right: 1px;
    top: 200px;
    border: rgba(246, 244, 241, 0);
}
/* store locator*/
.container2{
    width: 100%;
    float: left;
    border-bottom: 1px solid #dbcaca;
}
.container2 .shopnow{
    width: 1400px;
    height: 650px;
    margin: 0 auto;
    position: relative;
    padding-top: 40px;

}

.shopnow .buynow{
    position: absolute;
    bottom: 160px;
    right: 500px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.buynow a{
    color: black;
    font-size: 30px;
}
.buynow button:hover{
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.09);
    transition: 1000ms;
}
.buynow a:hover{
    color: #ea1818;
}