*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(156, 154, 154);
    font-size: 15px;
    font-family: Roboto, sans-serif;

}
img{
    max-width: 100%;
}
a{
    list-style: none;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: white;
}
p{
    font-size: 20px;
    font-weight: 200;
    font-family: Roboto, sans-serif;
    color: #ffffff;
}
img{
    max-width: 100%;
    height: 600px;
}
.section{
    margin: 0 auto;
    padding: 0;

}
/* header*/
header{
    background-color: rgba(12, 12, 12, 0.91);

}
header img{
    width: 150px;
    height: 60px;
}
.logo{
    margin: 0 auto;
    height: 80px;
    width: 1400px;
    padding: 10px;
}
.logo1{
    float: left;
}
.logo2 li{ /* logo*/
    float: left;
    padding-left: 50px;
    list-style: none;
    padding-top: 20px ;
    font-size: 20px;
}
.logo2 input{ /* tim kiem*/
    width: 300px;
    height: 30px;
    border-radius: 7px;
}
.logo2 button{
    width: 70px;
    height: 30px;
}
/* bieu tuong fb*/
.logo3{
    float: right;

}
.logo3 li{
    float: left;
    padding-left: 20px ;
    padding-top: 15px ;
    list-style: none;
}
.logo3 li a{
font-size: 25px;
}
/* main section*/
section{
    margin: 0 auto;
    width: 100%;
}
.container{
    margin: 0 auto;
    position: relative;
    font-size: 30px;
    color: white;
}
.container img{
    width: 100%;
}
.container .conten2{
    width: 400px;
    height: 200px;
    position: absolute;
    right: 20%;
    bottom: 100px;
    text-align: center;
    padding: 30px;
    color: white;

}
/* click next anh*/
.conten button{
    width: 50px;
    height: 50px;
    color: rgba(255, 255, 255, 0.84);
    font-size: 30px;
    border: 1px solid rgba(0, 0, 0, 0.02);
}
.conten button:hover{
    transform: scale(1.21);
    transition: 500ms;
    color: #b3a408;
}
.conten .click1{
    position: absolute;
    right: 5px;
    bottom: 300px;
    background-color: rgba(255, 255, 255, 0);
}
.conten .click2{
    position: absolute;
    left: 5px;
    bottom: 300px;
    background-color: rgba(52, 45, 45, 0.02);
}
.conten2 a{
    font-size: 30px;
    line-height: 30px;
    font-family: 'Courgette', cursive;
}
.conten3{
    position: relative;
    width: 49.99%;
    float: left;
}
.conten3 .conten31{
    position: absolute;
    right: 50px;
    bottom: 100px;
}
.conten4{
    position: relative;
    width: 49.99%;
    float: right;
}
.conten4 .conten41{
    position: absolute;
    right: 50px;
    bottom: 100px;
}
.conten5{
    width: 100%;
    height: 600px;
    float: left;
    text-align: center;
    background-color: #262222;
    padding-top: 100px;
}
.conten51{
    width: 600px;
    margin: 0 auto;
    line-height: 35px;
    padding-top: 30px;
}

/* shop*/
.shop{
    width: 100%;
    height: 700px;
    padding-left: 80px;
    text-align: center;
    padding-top: 50px;
    float: left;
    background-color: white;
}
.shop h1{
    padding-bottom: 30px;
    color: black;
}
.watch{
    width: 15%;
    height: 490px;
    float: left;
    text-align: center;
    margin-left: 10px;
}
.anh img{
    height: 400px;
    overflow: auto;
}
.watch:hover{
    transform: scale(1.04);
    transition: 500ms;
    background-color: rgba(52, 45, 45, 0.02);
    border: 0.5px solid #9c9a9a;
    box-shadow: 3px 3px 5px #aaaaaa ;
    font-size: 30px;
    color: #2e6da4;
}
.buy p{
    color: black;
    font-weight: 600;
}
.buy a{
    font-size: 15px;
    color: black;
}
.buy p:hover{
    color: #a89c05;
    font-weight: 600;
    font-size: 25px;
}
.buy button{
    background-color: white;
    border: 0.5px solid rgba(255, 255, 255, 0);
    width: 90px;
    height: 23px;
}
.buy button:hover{
    font-weight: 600;
    background-color: #a89c05;
}
