*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Smooch Sans', sans-serif;
    margin: 0 auto;
}
img{
    max-width: 100%;
    max-height: 100%;
}
a{
    list-style: none;
    text-decoration: none;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
    color: white;
}
p{
    font-size: 30px;
    font-weight: 200;
    font-family: 'Smooch Sans', sans-serif;
    color: #ffffff;
    line-height: 40px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.section{
    margin: 0 auto;
    padding: 0;
    width: 100%;

}
/* header*/
header{
    background-color: rgb(5, 5, 5);
    border-bottom: 1px solid #504303;

}
header img{
    width: 140px;
    height: 90px;
}
.logo{
    margin: 0 auto;
    height: 110px;
    width: 1400px;
    padding: 10px;
}
.logo a{
    font-size: 30px;
}
.logo1{
    float: left;
}
.logo2 li{ /* logo*/
    float: left;
    padding-left: 50px;
    list-style: none;
    padding-top: 30px;

}
.logo2 input{ /* tim kiem*/
    width: 300px;
    height: 30px;
    border-radius: 7px;
}
.logo2 button{
    width: 70px;
    height: 30px;
}
.mainlogo .see{
    position: relative;
}
.mainlogo .see img{
    width: 100%;
    height: 100%;
}
.see .see1{
    float: left;
    width: 1400px;
    display: none;
    left: -250px;
    position: absolute;
    z-index: 10;
    background-color: #e8e6e6;
    padding: 10px;
}
.see .see1 .pic{
    width: 32%;
    margin-right: 15px;
}
.see.active .see1{
    display: block;
}
.see1 .model a{
    color: black;
}
.see1 .pic .watch{
    margin-left: 15px;
}
/* bieu tuong fb*/
.logo .logo3{
    float: right;
}
.logo3 li{
    float: left;
    padding-left: 20px ;
    padding-top: 35px ;
    list-style: none;
}
.logo .logo3 li a{
font-size: 18px;
}
/* sign in*/
.popup{
    display: none;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px #aaaaaa;
    width: 500px;
    position: fixed;
    top:50%;
    left: 50%;
    z-index: 10;
    margin-top: -170px;
    margin-left: -225px;
}
.popup a{
    color: red;
}
.popup .sign button{
    width: 48%;
    margin-top: 30px;
    padding: 10px;
    margin-left: 5px;
}
.popup .login{
    width: 70%;
    margin: 30px auto;
}
.popup .login input{
    width: 90%;
    margin-bottom: 10px;
    margin-right: 10px;
}
.popup .login .checkbox{
    width: 20px;
    height: 20px;
}
.popup .login button{
    width: 150px;
    padding: 10px;
}
.bg-fade{
    display: none;
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    opacity: 0.6;
}
.closePop{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    color: black;
}
/* main section*/
section{
    margin: 0 auto;
    width: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 30px;
    color: white;
    background-color: rgb(38, 34, 34);
    float: left;
}
.container img{
    width: 100%;
    height: 670px;
}
.conten img{
    width: 100%;
    height: 40%;
}
.conten{
    width: 100%;
    position: relative;
}
.container .conten2{
    width: 400px;
    height: 200px;
    position: absolute;
    left: 10%;
    top: 150px;
    text-align: center;
    padding: 30px;

}
/* click next anh*/
.conten button{
    width: 30px;
    height: 40px;
    color: rgba(255, 255, 255, 0.84);
    font-size: 30px;
    border: 1px solid rgba(255, 255, 255, 0.02);
    background-color: rgb(255, 255, 255);
}
.container button:hover{
    transform: scale(1.21);
    transition: 500ms;
    color: #b3a408;
    background-color: white;
}
.conten .click1{
    position: absolute;
    right: 5px;
    top: 330px;
    background-color: rgba(255, 255, 255, 0);
}
.conten .click2{
    position: absolute;
    left: 5px;
    top: 330px;
    background-color: rgba(52, 45, 45, 0.02);
}
.conten2 .tieude{
    width: 400px;
    height: 300px;
    color: white;
}
.conten2 button{
    width: 100px;
    height: 40px;
    background-color: rgba(168, 158, 158, 0.33);
    padding-bottom: 5px;
}
.conten2 .tieude h1{
    font-size: 80px;
    color: white;
}
.conten3{
    position: relative;
    width: 50%;
    float: left;
    overflow: hidden;
    height: 500px;
}
.conten3 img:hover{
    transform: scale(1.19);
    transition: 2000ms;
}
.conten3 .conten31{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 300px;
}
.conten3 a{
    color: #2d2626;
    font-weight: 600;
}
.container h1{
    font-size: 45px;
}
.conten4{
    position: relative;
    width: 50%;
    float: right;
    overflow: hidden;
    height: 500px;
}
.conten4 img:hover{
    transform: scale(1.19);
    transition: 2000ms;
}
.conten4 .conten41{
    width: 300px;
    position: absolute;
    left: 100px;
    top: 100px;

}
.conten4 a{
    color: #2d2626;
    font-weight: 600;
}
.conten5{
    width: 100%;
    float: left;
    text-align: center;
    background-color: rgb(241, 239, 239);
    padding-top: 50px;
    margin: 0 auto;
}
.conten5 .tieude{
    color: white;
}
.conten51{
    width: 800px;
    margin: 0 auto;
    line-height: 50px;
    height: 450px;
    border: 1px solid #dbb6b6;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;

}
.conten5 h1{
    font-size: 60px;
    font-weight: 600;
    color: black;
}
.conten51 h3{
    float: right;
    font-size: 39px;
    color: black;
}
.conten51 p{
    color: black;
}
.conten51 .red{
    color: red;
}
.tieude{
    font-size: 50px;
    font-weight: 700;
    color: #0f0f0f;


}
.tieude .gold{
    color: #927e09;
}
/* shop*/
.container1{
    width: 100%;
    margin: 0 auto;
    float: left;
    background-color: rgb(241, 239, 239);
    text-align: center;

}
.container1 .ship1{
    width: 100%;
    background-color: white;
    padding-bottom: 50px;
    padding-top: 30px;
}
.ship1 .tieude{
    padding-bottom: 50px;
}
.services{
    width: 1400px;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 100px;
}
.services li{
    list-style: none;
}
.services .pay{
    color: #b3a408;
    margin-right: 20px ;
    list-style: none;
    font-size: 25px;
    width: 18%;
    float: left;

}
.services .pay:hover{
    transform: scale(1.14);
    transition: 500ms;
}
.ship h1{
    font-size: 40px;
    color: #927e09;
}
.ship p{
    color: #0c0c0c;
}
.container1 .ship{
    width: 1400px;
    height: 800px;
    margin: 20px auto;
    position: relative;
    background-color: rgb(241, 239, 239);
}
.shipping{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 150px;
    left: 450px;
}
.shipping img:hover{
    transform: scale(1.14);
    transition: 500ms;
}
.number1{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50px;
    top: 50px;
    color: #0f0f0f;

}
.number2{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50px;
    bottom: 50px;
}
.number3{
    width: 300px;
    height: 300px;
    position: absolute;
    right: 50px;
    top: 50px;
}
.number4{
    width: 300px;
    height: 300px;
    position: absolute;
    right: 50px;
    bottom: 50px;
}
/* product*/
.shop{
    width: 1400px;
    height: 1200px;
    padding-left: 100px;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
}

.watch{
    width: 300px;
    height: 400px;
    float: left;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 50px;
    font-family: 'Smooch Sans', sans-serif;
}
.anh img{
    height: 300px;
    overflow: auto;
    max-width: 100%;
}
.watch:hover{
    transform: scale(1.05);
    transition: 1000ms;
    background-color: rgba(156, 154, 154, 0.35);
    border: 0.5px solid #9c9a9a;
    box-shadow: 3px 3px 5px #aaaaaa ;
    font-size: 30px;
}
.buy{
    padding-top: 10px;

}
.buy p{
    color: black;
    font-weight: 600;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 30px;
}
.buy a{
    font-size: 20px;
    color: black;
    font-family: 'Smooch Sans', sans-serif;
}
.buy p:hover{
    color: #a89c05;
    font-weight: 600;
    font-size: 35px;
}
.buy button{
    background-color: white;
    border: 0.5px solid rgba(255, 255, 255, 0);
    width: 90px;
    height: 23px;
}
.buy button:hover{
    font-weight: 600;
    background-color: #a89c05;
}
.countdown{
    width: 100%;
    height: 900px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    padding-top: 50px;
    margin: 0 auto;
}
.countdown .countdown1{
    width:1400px ;
    height: 800px;
    margin: 0 auto;
    background-color: rgb(241, 239, 239);
    padding-top: 30px;
}
.countdown .countdowns{
    width: 400px;
    height: 400px;
    background-color: #ff535f;
    padding: 100px 0 0 0;
    font-size: 60px;
    color: rgb(255, 255, 255);
    border-radius: 200px;
    float: left;
    margin-top: 100px;
    margin-left: 150px;

}
.sale{
    width: 500px;
    height: 650px;
    background-color: rgba(252, 249, 249, 0);
    float: left;
    overflow: hidden;
    line-height: 40px;
    margin-left: 150px;
    position: relative;
    border: 1px solid #f8efef;;
   margin-top: 30px;
}
.sale p{
    color: #ffffff;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #e54148;

}
.sale a{
    font-size: 40px;
    color: #0c0c0c;

}
.sale img{
    width: 500px;
    height: 500px;


}
.sale img:hover{
    transform: scale(1.15);
    transition: 1000ms;

}
.sale .deal{
    background-color: rgba(193, 171, 171, 0.01);
    border: 1px solid rgba(255, 0, 0, 0);
    width: 150px;
   height: 50px;
    margin-top: 35px;

}
.sale a:hover{
    transform: scale(1.09);
    transition: 500ms;
    color: #e71c2c;
}
.clicksale1{
    color: black;
    font-size: 30px;
    width: 30px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    left: 1px;
    top: 200px;
    border: rgba(246, 244, 241, 0);
}
.clicksale2{
    color: black;
    font-size: 30px;
    width: 30px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    right: 1px;
    top: 200px;
    border: rgba(246, 244, 241, 0);
}
.container2{
    width: 100%;
    float: left;
    border-bottom: 1px solid #dbcaca;
}
.container2 .shopnow{
    width: 1400px;
    height: 650px;
    margin: 0 auto;
    position: relative;
    padding-top: 40px;

}

.shopnow .buynow{
    position: absolute;
    bottom: 160px;
    right: 500px;
    color: white;
    font-size: 40px;
    text-align: center;
}

.buynow a{
    color: black;
    font-size: 30px;
}
.buynow button:hover{
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.09);
    transition: 1000ms;
}
.buynow a:hover{
   color: #ea1818;
}

/* footer*/
.container3{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color: rgb(238, 231, 231);
    float: left;

}
.container4{
    width: 100%;
    height: 145px;
    border-bottom: 1px solid white;
    background-color: white;
    padding-top: 25px;
}
.container3 .mail{
    width: 1400px;
    margin: 0 auto;
}
.mail .mails{
    width: 900px;
    float: left;
}
.mails p{
    color: black;
    font-size: 25px;
}
.mails .far{
    float: left;
    width: 100px;
    height: 80px;
    font-size: 50px;
    padding-top: 12px;
    padding-left: 20px;
    border-right: 1px solid black;
    margin-top: 10px;
}
.mails .mails1{
    width: 800px;
    float: left;

    padding-top: 20px;
    padding-left: 30px;
}
.form{
    float: right;
    padding-top: 20px;
    width: 400px;

}
.form button{
    color: #a80505;
    width: 100px;
    height: 50px;
    font-size: 16px;
}
form input{
    width: 300px;
    height: 50px;
    font-size: 17px;

}
.container3 .adress{
    width: 1400px;
    margin: 0 auto;
}
.adress .street{
    width: 350px;
    float: left;
}
.street .tieude p{
    font-size: 25px;
    color: black;
}
.street .tieude{
    font-size: 25px;
}
.street .logo3 a{
    color: black;
    font-size: 30px;
}
.street .logo3{
    float: left;
}

