*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(156, 154, 154);
    font-size: 15px;
    font-family: 'Smooch Sans', sans-serif;

}
img{
    max-width: 100%;
    max-height: 100%;
}
a{
    list-style: none;
    text-decoration: none;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 20px;
    color: white;
}
p{
    font-size: 30px;
    font-weight: 200;
    font-family: 'Smooch Sans', sans-serif;
    color: #ffffff;
    line-height: 40px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.section{
    margin: 0 auto;
    padding: 0;

}
/* header*/
header{
    background-color: rgb(5, 5, 5);
    border-bottom: 1px solid #504303;

}
header img{
    width: 150px;
    height: 60px;
}
.logo{
    margin: 0 auto;
    height: 80px;
    width: 1400px;
    padding: 10px;
}
.logo a{
    font-size: 22px;
}
.logo1{
    float: left;
}
.logo2 li{ /* logo*/
    float: left;
    padding-left: 50px;
    list-style: none;
    padding-top: 15px ;
}
.logo2 input{ /* tim kiem*/
    width: 300px;
    height: 30px;
    border-radius: 7px;
}
.logo2 button{
    width: 70px;
    height: 30px;
}
/* bieu tuong fb*/
.logo3{
    float: right;

}
.logo3 li{
    float: left;
    padding-left: 20px ;
    padding-top: 15px ;
    list-style: none;
}
.logo3 li a{
font-size: 25px;
}
/* main section*/
section{
    margin: 0 auto;
    width: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 30px;
    color: white;
    background-color: black;
    float: left;
}
.container img{
    width: 100%;
    height: 670px;
}
.conten{
    width: 100%;
    position: relative;
}
.container .conten2{
    width: 400px;
    height: 200px;
    position: absolute;
    right: 20%;
    bottom: 150px;
    text-align: center;
    padding: 30px;
    color: white;

}
/* click next anh*/
.conten button{
    width: 50px;
    height: 50px;
    color: rgba(255, 255, 255, 0.84);
    font-size: 30px;
    border: 1px solid rgba(0, 0, 0, 0.02);
}
.conten button:hover{
    transform: scale(1.21);
    transition: 500ms;
    color: #b3a408;
}
.conten .click1{
    position: absolute;
    right: 5px;
    bottom: 350px;
    background-color: rgba(255, 255, 255, 0);
}
.conten .click2{
    position: absolute;
    left: 5px;
    bottom: 350px;
    background-color: rgba(52, 45, 45, 0.02);
}
.conten2 a{
    font-size: 30px;
    line-height: 30px;
    font-family: 'Smooch Sans', sans-serif;
}
.conten3{
    position: relative;
    width: 49.99%;
    float: left;
    overflow: hidden;
    height: 500px;
}
.conten3 img:hover{
    transform: scale(1.19);
    transition: 2000ms;
}
.conten3 .conten31{
    position: absolute;
    right: 50px;
    bottom: 100px;
}
.conten3 a{
    color: #2d2626;
    font-weight: 600;
}
.container h1{
    font-size: 45px;
}
.conten4{
    position: relative;
    width: 49.99%;
    float: right;
    overflow: hidden;
    height: 500px;
}
.conten4 img:hover{
    transform: scale(1.19);
    transition: 2000ms;
}
.conten4 .conten41{
    position: absolute;
    right: 50px;
    bottom: 100px;

}
.conten4 a{
    color: #2d2626;
    font-weight: 600;
}
.conten5{
    width: 100%;
    height: 600px;
    float: left;
    text-align: center;
    background-color: #171616;
    padding-top: 50px;
    margin: 0 auto;
}
.conten51{
    width: 600px;
    margin: 0 auto;
    line-height: 35px;
    padding-top: 30px;
}
.conten5 h1{
    font-size: 60px;
    font-weight: 600;
}
.tieude{
    font-size: 50px;
    font-weight: 700;

}
.tieude .gold{
    color: #927e09;
}
/* shop*/
.container1{
    width: 100%;
    margin: 0 auto;
    float: left;
    background-color: rgba(255, 255, 255, 0.99);
}
.shop{
    width: 1400px;
    height: 1200px;
    padding-left: 100px;
    text-align: center;
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.watch{
    width: 300px;
    height: 400px;
    float: left;
    text-align: center;
    background-color: #ffffff;
    margin: 60px;
    font-family: 'Smooch Sans', sans-serif;
}
.anh img{
    height: 300px;
    overflow: auto;
    max-width: 100%;
}
.watch:hover{
    transform: scale(1.04);
    transition: 500ms;
    background-color: rgba(156, 154, 154, 0.35);
    border: 0.5px solid #9c9a9a;
    box-shadow: 3px 3px 5px #aaaaaa ;
    font-size: 30px;
}
.buy{
    padding-top: 10px;

}
.buy p{
    color: black;
    font-weight: 600;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 30px;
}
.buy a{
    font-size: 20px;
    color: black;
    font-family: 'Smooch Sans', sans-serif;
}
.buy p:hover{
    color: #a89c05;
    font-weight: 600;
    font-size: 35px;
}
.buy button{
    background-color: white;
    border: 0.5px solid rgba(255, 255, 255, 0);
    width: 90px;
    height: 23px;
}
.buy button:hover{
    font-weight: 600;
    background-color: #a89c05;
}
.countdown{
    width: 100%;
    height: 700px;
    text-align: center;
    background-color: rgb(9, 9, 9);
    color: white;
    font-size: 30px;
    padding-top: 50px;
    float: left;

}

.countdown .countdowns{
    width: 400px;
    height: 400px;
    background-color: #b49a04;
    padding: 100px 0 0 0;
    font-size: 60px;
    color: white;
    border-radius: 200px;
    float: left;
    margin-top: 50px;

}
.sale{
    width: 300px;
    height: 400px;
    background-color: rgba(12, 12, 12, 0.91);
    float: left;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 30px;
    line-height: 40px;
    color: black;
}
.sale img{
    width: 300px;
    height: 300px;
}
.sale img:hover{
    transform: scale(1.09);
    transition: 500ms;
}
.sale button{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 0, 0, 0);
}
.sale a:hover{
    transform: scale(1.09);
    transition: 500ms;
    color: goldenrod;
}
